<<div class="container">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="login-form bg-light mt-4 p-4">
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="form-floating mb-3">
            <%= f.text_field :login, autofocus: true, class: 'form-control', id: 'login', placeholder: 'Login' %>
            <%= f.label :login, for: 'login' %>
          </div>

          <div class="form-floating">
            <%= f.password_field :password, autocomplete: "current-password" , class: 'form-control', id: 'password', placeholder: 'Password' %>
            <%= f.label :password, for: 'password' %>
          </div>

          <div class="actions text-center mt-3">
            <%= f.submit "Log in", class: 'btn btn-success' %>
          </div>
        <% end %>
        <hr class="mt-4">
        <div class="col-12">
          <p class="text-center mb-0"><a href="/users/password/new">Forgot Password?</a></p>
        </div>
      </div>
    </div>
  </div>
</div>